<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>

	<runtime>
    <loadFromRemoteSources enabled="true"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll"/>
    </assemblyBinding>
  </runtime>
  
  <runtime>
    <assemblybinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentassembly>
        <assemblyidentity culture="neutral" publickeytoken="30ad4fe6b2a6aeed" name="Newtonsoft.Json" />
        <bindingredirect newVersion="13.0.0.0" oldVersion="12.0.0.0" />
      </dependentassembly>
    </assemblybinding>
  </runtime>
</configuration>
